.input {
  border: 2px solid var(--primary-bg);
  border-radius: var(--radii);
  color: var(--primary-color);
  background: var(--color-light);
  padding: var(--pd);
  outline: none;
}

.input:focus {
  border-color: var(--sub-color);
}

.input:hover {
  border-color: var(--primary-bg);
  background:rgba(172, 172, 200, 0.4);
}

.input-error {
  color: var(--danger-color);
  border-color: var(--danger-color);
}

.input-error:focus {
  border-color: var(--sub-color);
}

.input-error:hover {
  border-color: var(--danger-color);
}
