.btn {
  background-color: var(--primary-bg);
  border: 2px solid var(--primary-bg);
  color: var(--color-light);
  border-radius: var(--radii);
  padding: var(--pd);
  font-weight: 700;
}

.btn:hover {
  color: var(--primary-color);
  border-color: var(--primary-bg);
  background-color: transparent;
}

.btn:active {
  box-shadow: 2px 1px 1px var(--color-light);
  color: var(--color-light);
  border-color: var(--primary-bg);
  background-color: var(--primary-bg);
}
