@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #0859bd;
  --primary-color: #3f3f56;
  --danger-color: #f64c72;
  --sub-color: #553d67;
  --color-light: #e7e7e7;
  --color-white: #fff;

  --radii: 8px;
  --pd: 8px 16px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--danger-color);
}

.primary-color {
  color: var(--primary-color);
}

.error-text {
  color: var(--danger-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--primary-color);
}

body {
  background-color: #ddd;
}

.app {
  display: grid;
  grid-template-areas:
    'h h h'
    's c c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.header,
.sidebar,
.content {
  padding: 10px;
}

.header,
.sidebar {
  background-color: var(--primary-bg);
}

.header {
  grid-area: h;
}

.sidebar {
  grid-area: s;
}

.content {
  grid-area: c;
  background-color: var(--color-light);
}

.title {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 700;
}

.active {
  color: lightgrey !important;
  cursor: default !important;
}

.text-error {
  color: var(--danger-color);
}
